<h1>Sign In</h1>
<div class="errors"></div>
<form id="new-session">
  <label for="username">Username</label>
  <input type="text" id="username" name="user[username]">
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="Sign In!">
</form>