<div class="row">

	<table class="table">
	
	  <% feeds.each (function(feed) { %>
	  <tr>
	    <td>
	      <a href="#/feeds/<%= feed.get('id') %>"><%= feed.get('title') %></a>
	      <button class="delete-feed btn btn-danger pull-right" data-feed-id="<%= feed.get('id')%>">Delete feed</button>
	    </td>
	    </tr>
	  <% }); %>
	  
	</table>
</div>