<h1>Create New Feed</h1>

<form id="new-feed-form">
  <label for="title">Title</label>
  <input type="text" id="title" name="feed[title]">
  
  <label for="url">URL</label>
  <input type="text" id="url" name="feed[url]">
  
  <input type="submit" value="Create Feed">
</form>